{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <title>{% block title %}Fill out the Form{% endblock  %}</title>

    <link rel="stylesheet" href="{% static 'engineer/css/engineer_log_reg.css' %}">
    <link rel="shortcut icon" href="{% static 'main/img/favicon.png' %}" type="image/x-icon">

  </head>
  <body>

   <div class="container">
        <div class="text">Welcome Engineer!</div>
        <h4 class="text_style">Please enter your details to continue</h4>

      <form action="{% url 'add_engineer_details' %}" method="post" required="yes">
         {% csrf_token %}
           <div class="form-row">
              <div class="input-data">
                 <input type="text" id="first-name" name="firstname" pattern=".{2,30}" required>
                 <div class="underline"></div>
                 <label for="first-name">First Name</label>
              </div>

              <div class="input-data">
                 <input type="text" id="last-name" name="lastname" required pattern=".{2,30}" required>
                 <div class="underline"></div>
                 <label for="last-name">Last Name</label>
              </div>

              <div class="input-data">
                <input type="date"  id="date-of-birth" name="dob" min="1980-01-01" max="2005-12-31" required>
                <div class="underline"></div>
                <label for="date-of-birth">Date of Birth</label>
             </div>
           </div>

           <div class="form-row">
    
            <div class="input-data">
               <input type="text"  id="pec-number" name="pecnumber" required pattern="[A-Z]{2}-[0-9]{4}-[0-9]{6}" placeholder="PK-0000-000000" required>
               <div class="underline"></div>
               <label for="pec-number">PEC #</label>
            </div>


            <div class="input-data">
               <input type="text" id="contact" name="contact" placeholder="0300-0000000" required pattern="[0-9]{11}" required>
               <div class="underline"></div>
               <label for="contact">Contact #</label>
            </div>

            <div class="input-data">
               <input type="text" id="cnic" name="cnic" required pattern="[0-9]{5}-[0-9]{7}-[0-9]{1}" placeholder="00000-0000000-0" required>
               <div class="underline"></div>
               <label for="cnic">CNIC #</label>
            </div>
         </div>

         <div class="form-row">
            <div class="input-data">
               <div class="underline"></div>
            
               <label for="gender" required="">Gender</label>                 
               <select id="gender" name="gender" class="type_engineer" required>
                   <option value="" >Select Gender</option>
                   <option value="bachelor">Male</option>
                   <option value="master">Female</option>
               </select>
            </div>

            <div class="input-data">
               <div class="underline"></div>
            
               <label for="degree" required="">Degree</label>                 
               <select id="degree" name="degree" class="type_engineer" required>
                   <option value="" >Select Engineering Type</option>
                   <option value="bachelor">Bachelors Degree</option>
                   <option value="master">Masters Degree</option>
                   <option value="phd">PHD Degree</option>
               </select>
            </div>


            <div class="input-data">
               <div class="underline"></div>
            
               <label for="engineering-type" required="">Engineering Type</label>                 
               <select id="engineering-type" name="degreetype" class="type_engineer" required>
                   <option value="" >Select Engineering Type</option>
                   <option value="civil">Civil Engineering</option>
                   <option value="mechanical">Mechanical Engineering</option>
                   <option value="electrical">Electrical Engineering</option>
                   <option value="computer">Computer Engineering</option>
               </select>
            </div>
         </div>

         <div class="form-row">
             
             <div class="input-data">
               <div class="underline"></div>
            
               <label for="university">University</label>                 
               <select id="university" name="university" class="type_engineer" required>
                  <option value="" disabled selected>Select university</option>
                  <option value="au">Aga Khan University</option>
                  <option value="aiou">Allama Iqbal Open University</option>
                  <option value="akueb">Aga Khan University Examination Board</option>
                  <option value="bzu">Bahauddin Zakariya University</option>
                  <option value="ciit">COMSATS Institute of Information Technology</option>
                  <option value="cu">University of Chitral</option>
                  <option value="gcu">Government College University, Lahore</option>
                  <option value="iub">Islamia University of Bahawalpur</option>
                  <option value="ku">University of Karachi</option>
                  <option value="kuet">KU Institute of Engineering & Technology</option>
                  <option value="lums">Lahore University of Management Sciences (LUMS)</option>
                  <option value="muet">Mehran University of Engineering and Technology</option>
                  <option value="nca">National College of Arts (NCA)</option>
                  <option value="nuces">National University of Computer and Emerging Sciences (NUCES)</option>
                  <option value="nust">National University of Sciences and Technology (NUST)</option>
                  <option value="pu">University of the Punjab</option>
                  <option value="qau">Quaid-i-Azam University</option>
                  <option value="uok">University of Peshawar</option>
                  <option value="uet">University of Engineering and Technology (UET)</option>
                  <option value="uaf">University of Agriculture, Faisalabad</option>
                  <option value="uhs">University of Health Sciences, Lahore</option>
                  <option value="uob">University of Balochistan</option>
                  <option value="uog">University of Gujrat</option>
                  <option value="usindh">University of Sindh</option>
                  <option value="aiou">Allama Iqbal Open University</option>
                  <option value="akueb">Aga Khan University Examination Board</option>
                  <option value="bzu">Bahauddin Zakariya University</option>
                  <option value="ciit">COMSATS Institute of Information Technology</option>
                  <option value="cu">University of Chitral</option>
                  <option value="gcu">Government College University, Lahore</option>
                  <option value="iub">Islamia University of Bahawalpur</option>
                  <option value="ku">University of Karachi</option>
                  <option value="kuet">KU Institute of Engineering & Technology</option>
                  <option value="lums">Lahore University of Management Sciences (LUMS)</option>
                  <option value="muet">Mehran University of Engineering and Technology</option>
                  <option value="nca">National College of Arts (NCA)</option>
                  <option value="nuces">National University of Computer and Emerging Sciences (NUCES)</option>
                  <option value="nust">National University of Sciences and Technology (NUST)</option>
                  <option value="pu">University of the Punjab</option>
                  <option value="qau">Quaid-i-Azam University</option>
                  <option value="uok">University of Peshawar</option>
                  <option value="uet">University of Engineering and Technology (UET)</option>
                  <option value="uaf">University of Agriculture, Faisalabad</option>
                  <option value="uhs">University of Health Sciences, Lahore</option>
                  <option value="uob">University of Balochistan</option>
                  <option value="uog">University of Gujrat</option>
                  <option value="usindh">University of Sindh</option>
                  <option value="uom">University of Malakand</option>
                  <option value="uos">University of Swat</option>
                  <option value="aqkrc">Abdul Wali Khan University, Mardan</option>
                  <option value="uop">University of Poonch</option>
                  <option value="kmu">Khyber Medical University</option>
                  <option value="ustb">University of Science and Technology, Bannu</option>
                  <option value="awku">Azad Jammu and Kashmir University</option>
                  <option value="karak">Karakoram International University</option>
                  <option value="ruet">Rachna University, Faisalabad</option>
                  <option value="sbk">Shaheed Benazir Bhutto University, Karachi</option>
                  <option value="smiu">Sindh Madressatul Islam University</option>
                  <option value="aqk">Al-Qadir University</option>
                  <option value="aziz">Aziz Fatimah Medical & Dental College</option>
                  <option value="bzu">Balochistan University of Engineering and Technology, Khuzdar</option>
                  <option value="apcoms">Army Public College of Management Sciences</option>
                  <option value="jinnah">Jinnah Sindh Medical University</option>
                  <option value="umt">University of Management and Technology</option>
                  <option value="giki">Ghulam Ishaq Khan Institute of Engineering Sciences and Technology</option>
                  <option value="numl">National University of Modern Languages</option>
               </select>
            </div>

            <div class="input-data">
               <input type="date" id="passout-year" name="passoutyear" min="2000-01-01" required>
               <div class="underline"></div>
               <label for="passout-year">Passout Date</label>
            </div>
         </div>

         <div class="form-row">

            <div class="input-data">
               <div class="underline"></div>
            
               <label for="engineering-type" required="">Have you done any projects before?</label>                 
               <select id="engineering-type" name="degreetype" class="type_engineer" required>
                   <option value="" >Select Option</option>
                   <option value="civil">None</option>
                   <option value="mechanical">Less than 1 year</option>
                   <option value="electrical">1-2 years</option>
                   <option value="computer">More than 2 years</option>
               </select>
               <br><br>
               <div class="form-row submit-btn">
                  <div class="input-data">
                     <div class="inner"></div>
                     <input type="submit" value="submit">
                  </div>
               </div>               

            </div>
            
      </form>
   </div>
   </body>

<script>

// Historic Form Dates

var today = new Date();
var dd = today.getDate();
var mm = today.getMonth() + 1; //January is 0!
var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd;
    }

    if (mm < 10) {
        mm = '0' + mm;
    } 
    
today = yyyy + '-' + mm + '-' + dd;
document.getElementById("passout-year").setAttribute("max", today);

</script>

</html>
