{% extends 'base.html' %}

{% block content %}

<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
        
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}

		<h3 class="card-title text-center">Error 404!</h3>
		<div class="card-text">
            <a href="/login" class="btn btn-success" style="text-align: center;">Back</a>

		</div>
	</div>
</div>
</div>

{% endblock %}