{% extends 'home_pages/main.html' %}
{% load static %}

{% block content %}

<div class="search_card">

  <div class="main_image">

    <div class="profile_pic">
      <img src="https://i.imgur.com/bmZAxnX.jpg" alt="profile_picture">
    </div>

    <div class="names">
      <h1>RICHARD</h1>
      <h1>&nbsp;&nbsp;SANCHEZ</h1>
      <p>Product Designer</p>
    </div>

    <!-- Left Side of the CV Template -->
  <div class="left_side" >
    <div class="about_me">
      <h1>ABOUT ME</h1>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>

    <div class="expertise">
      <h1>EXPERTISE</h1>
      <ul>
        <li>Management Skills</li>
        <li>Creativity</li>
        <li>Digital Marketing</li>
        <li>Negotiation</li>
        <li>Critical Thinking</li>
        <li>Leadership</li>
      </ul>  
    </div>

  </div>
  
  <div class="right_side">
    
    <div class="experience">
      <h1>EXPERIENCE</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>

    <div class="education">
      <h1>EDUCATION</h1>
      <p>Bachelors in Software Engineering</p>
      <p>COMSATS University Islamabad, Wah Cantt</p>

      <p>Higher Secondary Language</p>
      <p>Beacon House School System</p>

    </div>

  </div>

  </div>

</div>

{% endblock content%}