{% extends 'main/main.html' %}

{% block content %}

<h3>Hello, world!</h3>

<div class="container text-center">
    <div class="row">
        
        <div class="col">
            <h4>Browse Fields</h4>

            <div class="sidebar">
                <div>
                    <div> Menu Item 1</div>
                    <div> Menu Item 2 </div>
                    <div> Menu Item 3 </div>
                </div>
                
                <!-- <div class="body-text">
                Welcome to the text
                </div> -->
            </div>
        </div>

        <div class="col-8">
            <h4>Column 2</h4>
        </div>
        
        <div class="col">
            <h4>Column 3</h4>
        </div>

    </div>
</div>

{% endblock%}
