<footer>
    <div class="footer-top bg-dark">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4">
            <a href="#" class="logo-footer">Let Engineers</a>
            <p>A place where people meet Engineers. </p>
            <div class="social-links">
              <a href="#"><i class="ri-facebook-fill"></i></a>
              <a href="#"><i class="ri-instagram-fill"></i></a>
              <a href="#"><i class="ri-twitter-fill"></i></a>
              <a href="#"><i class="ri-linkedin-fill"></i></a>
            </div>
          </div>
          <div class="col-lg-2 offset-lg-2">
            <h6>Information</h6>
            <ul>
              <li><a href="#home"> Home</a></li>
              <li><a href="#service"> Services</a></li>
              <!-- <li><a href="#portfolio"> Portfolio</a></li> -->
              <li><a href="#testmonials"> Our Aim</a></li>
              <li><a href="#contact"> Contact Us</a></li>
            </ul>
          </div>
  
          <div class="col-lg-2">
            <h6>Company</h6>
            <ul>
              <li><a href="#footer_section">Architects</a></li>
              <li><a href="#footer_section">Civil Engineers</a></li>
              <li><a href="#footer_section">Computer Engineers</a></li>
              <li><a href="#footer_section">Electrical Engineers</a></li>
              <li><a href="#footer_section">Mechanical Engineers</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <h6>About</h6>
            <ul>
              <li><a href="#footer_section"> Terms and Conditions</a></li>
              <li><a href="#footer_section"> Privacy and Policy</a></li>
            </ul>
          </div>
      </div>
      </div>
    </div>
  
    <div class="footer-bottom" id="footer_section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-auto">
            <p class="mb-0">CopyRight 2023</p>
          </div>
          <div class="col-auto">
            <p class="mb-0">Designed by <span>Tech Fusion </span> </p>
          </div>
        </div>
      </div>
    </div>
  </footer>