{% load static %}
<!--Search Bar-->
  <section id="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-13">
          <h1 class="display-2">Let Engineers</h1>
          <!-- <p>Where People meet Engineers, the easy way ;)</p> -->
          <p>Where Engineering Meets Excellence</p>
        </div>
      </div>

      <div class="row">
        <form action="#" class="col-lg-6 mx-auto">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Recipient's username" aria-describedby="button-addon2" id="search-input">
            <button class="btn btn-brand" type="submit" id="button-addon2" >Search</button>
          </div>
        </form>
      </div>
    </div>

  </section>

  <!-- Carousel -->
  <div id="hero-carousel" class="carousel slide" data-bs-ride="true">
        
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>

    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="4000">
            <img src="{% static 'main/img/11ms.png' %}" class="d-block w-100" alt="...">    
        </div>
      
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static 'main/img/1ms.jpeg' %}" alt="...">
        </div>
      
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static 'main/img/3ms.jpeg' %}" alt="...">
        </div>

        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static 'main/img/10ms.png' %}" alt="...">
        </div>

        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static 'main/img/9ms.png' %}" alt="...">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!-- SERVICES -->

  <div class="col-12 section-intro service">
    <h1 id="service">Our Services</h1>
    <p>We provide many services as the following for ease of everyone in the country.</p>
  </div>

  <section id="services">
    <div class="container">

      <div id="c-control" class="carousel" data-bs-ride="carousel">
    
        <div class="carousel-inner c-inner">
            
          <div class="carousel-item active c-item">
    
              <div class="card">
                    <div class="img-wrapper"><img src="{% static 'main/img/c1.png' %}" class="d-block w-100" alt="..."> </div>
                    
                    <div class="card-body">
                        <h5 class="card-title">Architects</h5>
                        <p class="card-text">Architectural engineering focuses on the design and construction of buildings and other structures, with a focus on the integration of engineering principles and techniques into the architectural design process.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
              </div>
            </div>
            
            <div class="carousel-item c-item">
                <div class="card">
                    <div class="img-wrapper"><img src="{% static 'main/img/c2.png' %}" class="d-block w-100" alt="..."> </div>
                    <div class="card-body">
                        <h5 class="card-title">Civil Engineers</h5>
                        <p class="card-text">Civil engineering deals with the design, construction, and maintenance of the built environment, including infrastructure such as roads, bridges, buildings, and water and sewage systems.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
    
            <div class="carousel-item c-item">
              <div class="card">
                  <div class="img-wrapper"><img src="{% static 'main/img/c3.png' %}" class="d-block w-100" alt="..."> </div>
                  <div class="card-body">
                      <h5 class="card-title">Mechanical Engineers</h5>
                      <p class="card-text">Mechanical engineering involves the design, development, and manufacture of mechanical systems and devices, such as engines, machines, and tools, that use energy to perform various functions.
                      </p>
                      <a href="#" class="btn btn-primary">View</a>
                  </div>
              </div>
          </div>
            
            <div class="carousel-item c-item">
                <div class="card">
                    <div class="img-wrapper"><img src="{% static 'main/img/c4.png' %}" class="d-block w-100" alt="..."> </div>
                    <div class="card-body">
                        <h5 class="card-title">Electrical Engineers</h5>
                        <p class="card-text">Electrical engineering deals with the study and application of electrical systems, including power generation, transmission, and distribution, as well as the design and development of electronic devices.
                        </p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
    
            <div class="carousel-item c-item">
                <div class="card">
                    <div class="img-wrapper"><img src="{% static 'main/img/c5.png' %}" class="d-block w-100" alt="..."> </div>
                    <div class="card-body">
                        <h5 class="card-title">Software Engineers</h5>
                        <p class="card-text">A software engineer is a professional who uses engineering principles, programming languages, and software development tools to design, develop, test, and maintain software systems for people.</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        
        <button class="carousel-control-prev c-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next c-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
  </section>
  

  <!-- Call to Action Area -->

  <div id="cta">
    <div class="row">
      <div class="col-lg-8">
        <h2>Where people can easily collaborate with professinoals</h2>
        <p>Empowering innovation through comprehensive engineering resources and expert guidance.</p>
      </div>
      <!-- <div class="col-auto">
        <a href="#" class="btn btn-brand">Find best Engineers</a>
      </div> -->
    </div>
  </div>  

  <!-- PORTFOLIO -->

  <!-- <section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-12 section-intro">
              <h1>Our Portfolio</h1>
              <p>We Provide many services as the following for ease of everyone.</p>
            </div>
        </div>

        <div class="row gy-4">
          <div class="col-lg-4">
            <div class="project-wrapper">
              <img src="{% static 'main/img/p1.jpg' %}" alt="">
              <a href="#" class="btn btn-brand">View</a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="row gy-4">
              <div class="col-lg-12">
                <div class="project-wrapper">
                  <img src="{% static 'main/img/p2.jpg' %}" alt="">
                  <a href="#" class="btn btn-brand">View</a>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="project-wrapper">
                  <img src="{% static 'main/img/p3.jpg' %}" alt="">
                  <a href="#" class="btn btn-brand">View</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="project-wrapper">
              <img src="{% static 'main/img/p4.jpg' %}" alt="">
              <a href="#" class="btn btn-brand">View</a>
            </div>
          </div>
        </div> 
      </div>
  </section> -->
  <br><br><br>
  <!-- TESTIMONIALS -->
  <section id="testmonials">
    <div class="container">
      <div class="row">
        <div class="col-12 section-intro">
          <h1>Our Aim</h1>
          <p>Empower individuals and businesses with innovative solutions that drive growth and success.</p>
        </div>
      </div>

      <div class="owl-carousel owl-theme">
        <div class="review">
          <div class="stars">
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-half-fill"></i>
          </div>
          <p>To create a streamlined and user-friendly interface that allows customers to browse and search for engineers by skillset, location, and other criteria, and to request quotes and proposals for their projects.
          </p>       
        </div>

        <div class="review">
          <div class="stars">
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-half-fill"></i>
          </div>
          <p>To provide a system for customers and engineers to communicate and collaborate throughout the project, with tools for sharing files, tracking progress, and resolving any issues that arise by providing a maintainable and fesible solution.
          </p>
        </div>

        <div class="review">
          <div class="stars">
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-half-fill"></i>
          </div>
          <p>To provide resources and support for both clients and engineers, including tools for project management, best practices for successful collaborations, and access to relevant industry information.
          </p>
        </div>

        <div class="review">
          <div class="stars">
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-fill"></i>
            <i class="ri-star-half-fill"></i>
          </div>
          <p>To foster a community of professionals who are committed to high-quality work and continuous improvement, and to provide opportunities for networking, learning, and professional development.</p>
        </div>

      </div>
    </div>
  </section>
  <br><br>

  <!-- MILESTONE -->
  <div id="milestone">
    <div class="container">
      
      <div class="row gy-5">
        <div class="col-lg-3 col-sm-6 counter">
          <h1>900K</h1>
          <div class="divider"></div>
          <p class="mb-0">Trusted Clients</p>
        </div>
        
        <div class="col-lg-3 col-sm-6 counter">
          <h1>100+</h1>
          <div class="divider"></div>
          <p class="mb-0">Projects Done</p>
        </div>
        
        <div class="col-lg-3 col-sm-6 counter">
          <h1>500+</h1>
          <div class="divider"></div>
          <p class="mb-0">Engineers</p>
        </div>
        
        <div class="col-lg-3 col-sm-6 counter">
          <h1>1000+</h1>
          <div class="divider"></div>
          <p class="mb-0">Success Stories</p>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTACT -->

  <section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12 section-intro">
        <h1>Contact us</h1>
        <p>We Provide many services for ease of everyone.</p>
      </div>
    </div>

    <div class="row bg-light">
      <div class="col-lg-7">
        <form method="post" action="{% url 'contact_us' %}" class="row gy-3 gx-3 p-4 plg-5">
          {% csrf_token %}
          
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info" style="text-align: center;">
                {{message}}
              </div>
            {% endfor %}
          {% endif %}

          <div class="form-group col-lg-6">
            <input type="text" name="first_name" class="form-control" placeholder="Enter your first name" required>
          </div>

          <div class="form-group col-lg-6">
            <input type="text" name="last_name" class="form-control" placeholder="Enter your last name" required>
          </div>

          <div class="form-group col-lg-12">
            <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
          </div>

          <div class="form-group col-lg-12">
            <input type="text" name="subject" class="form-control" placeholder="Enter subject" required>
          </div>

          <div class="form-group col-lg-12">
            <textarea class="form-control" name="message" rows="4" placeholder="Enter your message here" required></textarea>
          </div>

          <div class="form-group col-lg-12">
            <button type="submit" class="btn btn-brand">Send Message</button>
          </div>
        </form>

        <!-- {% if success %}
          <div class="alert alert-success" role="alert">
            Your message has been sent successfully!
          </div>
        {% else %}
          <div class="alert alert-danger" role="alert">
            There was an error sending your message. Please try again later.
          </div>
        {% endif %} -->
      </div>

      <div class="col-lg-5">
        <img src="{% static 'main/img/3ms.jpeg' %}" class="map" alt="">
      </div>

    </div>
  </div>
</section>

