<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap CSS -->
<style>
  
.highlight {
    background-color: rgb(0, 174, 255);
    border: 2px solid rgba(0, 174, 255, 0.199);
}

</style>

  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/remixicons/fonts/remixicon.css' %}">
  
  <link rel="stylesheet" href="{% static 'main/css/home.css' %}">

  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

  <link rel="shortcut icon" href="{% static 'main/img/favicon.png' %}" type="image/x-icon">
  
  <title>{% block title %}Let Engineers{% endblock %}</title>

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" id="home" onload="myFunction()">

<!-- Loader -->
<div id="loader"></div> 

<div id="loader_heading">
    <h4>Loading...</h4>
</div> 

<div id="absolute_div" class="newDiv">
<!-- Navbar -->

{% include 'main/navbar.html' %}


{% block content %}


{% endblock %}

{% include 'main/footer.html' %}

</div>
</body>

<script src="{% static 'main/js/jquery.min.js' %}"></script>

<script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'main/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'main/js/main.js' %}"></script>

<script src="{% static 'main/js/app.js' %}"></script>

<script>
  var currentMatch = 0;

  var removeHighlights = function() {
  var highlight = document.querySelectorAll(".highlight");
  for (var i = 0; i < highlight.length; i++) {
    highlight[i].parentNode.replaceChild(highlight[i].firstChild, highlight[i]);
    highlight[i].normalize();
  }
};

function search() {
  removeHighlights(); 
  var searchTerm = document.getElementById("search-input").value;
  var body = document.getElementsByTagName("body")[0];
  var regex = new RegExp(searchTerm, "gi");
  var matches = body.innerHTML.match(regex);
  if (searchTerm.length > 0) {
    if (matches !== null) {
      body.innerHTML = body.innerHTML.replace(regex, function(match) {
        return '<span class="highlight">' + match + "</span>";
      });
      currentMatch = 0;
      // alert(matches.length + " matches found. Press OK to move to the next match.");
      var highlights = document.querySelectorAll(".highlight");
      highlights[currentMatch].classList.add("current"); 
      highlights[currentMatch].scrollIntoView({ behavior: "smooth", block: "center" }); 
    } else {
      alert("No matches found.");
    }
  }
}

function nextMatch() {
  var highlights = document.querySelectorAll(".highlight");
  highlights[currentMatch].classList.remove("current"); 
  currentMatch++;
  if (currentMatch >= highlights.length) {
    currentMatch = 0; 
  }
  highlights[currentMatch].classList.add("current"); 
  highlights[currentMatch].scrollIntoView({ behavior: "smooth", block: "center" }); 
}

// Java Script for Spinner
var myVar;

// function myFunction() {
//   myVar = setTimeout(showPage, 1000);
// }

window.addEventListener("load", function()
{

  document.getElementById("loader").style.display = "none";
  document.getElementById("loader_heading").style.display = "none";
  document.getElementById("absolute_div").classList.remove("newDiv")
})


</script>

</html>