<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

    <div class="container"> 
      <!-- Use container-fluid for no left right margins in navbar -->
    
      <a class="navbar-brand" href="#">
        <h4>Let Engineers</h4>
      </a>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto ">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
          <a class="nav-link active" aria-current="page" href="#service">Services</a>
          <a class="nav-link active" aria-current="page" href="#portfolio">Portfolio</a>
          <a class="nav-link active" aria-current="page" href="#testmonials">Testmonials</a>
          <a class="nav-link active" aria-current="page" href="#contact">Contact</a>
          <a class="nav-link active btn-old" aria-current="page" href="{% url 'engin_log_reg' %}">Login</a>
        </div>
      </div>
    </div>

  </nav>
  