{% extends 'user/user_base.html' %}

{% block title %}Forgot Password{% endblock  %}

{% block content %}

<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Reset your Password!</h3>
		<div class="card-text">
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-info">
					{{message}}
				</div>
				{% endfor %}
			{% endif %}

			<form method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="exampleInputEmail1">Please enter your Email</label>
					<input type="email" name="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>

				<button type="submit" class="btn btn-primary btn-block">Reset Now!</button>
				
				<div class="sign-up">
					Don't want to reset password? <a href="{% url 'user_login' %}">Login Now!</a>
				</div>
			</form>
		</div>
	</div>
</div>
</div>

{% endblock %}